<style>
.title {
	/*height: 100px;*/
	text-align:center;
}
</style>
<div class="title">
<span style="font-size:250%">
<h2>Lunch at Lee's Deli</h2>
</br>
</span>
Harvey Chan</br>
<img src="http://gravatar.com/avatar/ed2c2656deb6aed822e212268a08f894.png?s=75px"></br>
.NET Developer</br>

</div>
  
  <div>
  <img src="/map.png">
  </div>
